<%= simple_form_for @question, html: { class: "ui form"}  do |f| %>
    <%= f.input :text, input_html: { class: 'ui text' } %>
    <%= f.input :attachment, as: :file, class: 'ui button' %>
    <%= f.input :total_marks %>
    <h3>Objectives</h3>
    <p>Add the relevant objectives for your question using the dropdown search provided.</p>
    <div id='tasks' class="ui segment">
    <% Line.all.each.with_index do |line,ab| %>

      <%= f.simple_fields_for :lines do |line| %>
      
        <%= render 'line_fields', :f => line %>
      <% end %>
    <% end %>
      <div class='links'>
        <%= link_to_add_association 'add task', f, :lines, class: "ui button" %>
      </div>
    </div>
      <%= f.submit 'Save', class: "ui blue button" %>
      <%= link_to 'Back', questions_path, class: "ui button" %>
<% end %>