<div class="ui text container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'ui form'}) do |f| %>
    <%= devise_error_messages! %>
  
  <div class="ui header">Register</div>
  <div class="ui padded segment form">
    <div class="ui field">
      <lablel>Username</lablel>
      <%= f.text_field :username  %>
    </div>
    <div class="ui field">
      <label>Email</label>
      <%= f.email_field :email, autofocus: true  %>
    </div>
    <div class="ui field">
      <div class="ui two column grid">
        
        <div class="ui column">
          <label>Password</label>
          <%= f.password_field :password, autocomplete: "off"  %>
        </div>
        
        <div class="ui column">
          <label>Confirm password</label>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>  
    </div>
    <div class="ui field">
      <%= f.submit "Sign up", class: "ui blue button" %>
    </div>
  </div>
  <% end %>
</div>


