
    <h2 class="ui header">Interim Assessments <%= @subject.progress(current_user) %></h2>
    <%= show_if_teacher(current_user) do %>
     <%= link_to "Add testpaper", new_test_paper_path, class: "ui icon button", style: "
    margin-bottom: 20px;" %>
    <% end %>
    <div class="ui centered cards">

<% TestPaper.where(subject: @subject).each do |testpaper| %>
  <div class="ui card">
  <div class="ui top indicating attached progress" data-percent="<%=  testpaper.tots(current_user)  %>">
    <div class="bar" style="transition-duration: 300ms; width: <%=  testpaper.tots(current_user) %>%;"></div>
  </div>
    <div class="content">
      <%= show_if_teacher(current_user) do %>
        <%= link_to "<i class='right floated red remove icon'></i>".html_safe, testpaper , method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <div class="header">
        <%= testpaper.date.strftime('%b %Y') %>
      </div>
      <div class="meta">
        3 days ago
      </div>
      <div class="description">
        
      </div>
    </div>
        <%= link_to "Details", test_paper_path(testpaper), class: "ui bottom attached button" %>
  </div>
  <% end %>
</div>
<div class="ui divider"></div>
<h2 class="ui header">A breakdown of your learning so far</h2>
<div class="ui basic segment">



    
    <% @subject.topics.each do |topic| %>
    
      <% progress = topic.progress(current_user) %>
      <% objective_count = topic.objectives.count %>
      <% unless progress.nan? %>
      <div class="ui  segment" id="topic<%= topic.id %>">
          <div class="ui top attached label"><%= topic.name %> <div class="ui blue right aligned label"><%= number_with_precision(progress, precision: 1) %>%</div></div>
          <div class="ui accordion">
              <div class="active title">
                  <i class="dropdown icon"></i>
                <%= objective_count %> objective<%= if objective_count > 1 then "s" end %>

              </div>
              <div class="content">
                  <table class="ui very basic table" style="padding-left:30px">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Score</th>
                          </tr>
                      </thead>
                      <tbody>
                        
      
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      <% end %>

    <% end %>
    
</div>
