
    <h2 class="ui header">Question papers:</h2>
    <%= show_if_teacher(current_user) do %>
     <%= link_to "Add testpaper", new_test_paper_path(:subject => @subject.id), class: "ui icon button", style: "
    margin-bottom: 20px;"  %>
    <% end %>
    <div class="ui centered cards">

<% TestPaper.where(subject: @subject).each do |testpaper| %>
  <div class="ui card">
  <div class="ui top indicating attached progress" data-percent="<%=  testpaper.tots(current_user)  %>">
    <div class="bar" style="transition-duration: 300ms; width: <%=  testpaper.tots(current_user) %>%;"></div>
  </div>
    <div class="content">
      <%= show_if_teacher(current_user) do %>
        <%= link_to "<i class='right floated red remove icon'></i>".html_safe, testpaper , method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <div class="header">
        <%= testpaper.name || testpaper.date.strftime('%b %Y') %>
      </div>
      <div class="meta">
        Created <%= time_ago_in_words(testpaper.created_at) %> ago
      </div>
      <div class="description">
        <div class="ui label"><%= testpaper.tots_analysis(current_user)[0] %>/<%= testpaper.tots_analysis(current_user)[1] %></div>
        <%= link_to "Report", test_paper_report_path(testpaper) %>
      </div>
    </div>
        <%= link_to "Details", test_paper_path(testpaper), class: "ui bottom attached button" %>
  </div>
  <% end %>
</div>
<div class="ui divider"></div>
<h2 class="ui header"><%= @subject.name %>'s attempted topics:</h2>
<div class="ui basic segment">



    
    <% @subject.topics.each do |topic| %>
    
      <% progress = topic.progress(current_user, @attempted_questions.where(topic_id: topic.id, user_id: current_user.id)) %>
      <% objective_count = topic.objectives.count %>
      <% unless progress.to_f.nan? %>
      <div class="ui <%= colour(progress) %> segment" id="topic<%= topic.id %>">
          <div class="ui top basic attached label"><span style="font-size: 1.1em"><%= topic.name %></span> <div class="ui right float circular <%= colour(progress) %> label"><%= number_with_precision(progress, precision: 0) %>%</div></div>
          <div class="ui accordion">
              <div class="ui accordion">
                  <%= link_to "Details", subject_topic_path(@subject ,topic), class: "ui button", style: "margin-top: 15px" %>
              </div>
          </div>
      </div>
      <% end %>

    <% end %>
    
</div>


<div class="ui segment">
<% current_user.answers.each do |answer| %>
  <% if answer.interventions.count > 0 then %>
    <div class="ui blue label"><%= answer.interventions.last.problem %></div>
  <% end %>
<% end %>
</div>
<div class="ui segment">
<% current_user.all_interventions.each do |intervention| %>
<p>
<%= intervention.inspect %>
</p>
<% end %>
</div>
