
    <h2 class="ui header">Interim Assessments <%= @subject.progress(current_user) %></h2>
    <%= show_if_teacher(current_user) do %>
     <%= link_to "Add testpaper", new_test_paper_path, class: "ui icon button", style: "
    margin-bottom: 20px;" %>
    <% end %>
    <div class="ui centered cards">

<% TestPaper.where(subject: @subject).each do |testpaper| %>
  <div class="ui card">
  <div class="ui top indicating attached progress" data-percent="<%=  testpaper.tots(current_user)  %>">
    <div class="bar" style="transition-duration: 300ms; width: <%=  testpaper.tots(current_user) %>%;"></div>
  </div>
    <div class="content">
      <%= show_if_teacher(current_user) do %>
        <%= link_to "<i class='right floated red remove icon'></i>".html_safe, testpaper , method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <div class="header">
        <%= testpaper.date.strftime('%b %Y') %>
      </div>
      <div class="meta">
        3 days ago
      </div>
      <div class="description">
        
      </div>
    </div>
        <%= link_to "Details", test_paper_path(testpaper), class: "ui bottom attached button" %>
  </div>
  <% end %>
</div>
<div class="ui divider"></div>
<h2 class="ui header">A breakdown of your learning so far</h2>
<div class="ui basic segment">
    
    <% @subject.topics.each do |topic| %>
      <% if topic.answered_by?(current_user) then %>
      <div class="ui bottom attached segment">
          <div class="ui top attached label"><%= topic.name %> </div>
          <div class="ui accordion">
              <div class="active title">
                  <i class="dropdown icon"></i>
                <%= topic.objectives.count %> objective<%= if topic.objectives.count > 1 then "s" end %>

              </div>
              <div class="content">
                  <table class="ui very basic table" style="padding-left:30px">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Score</th>
                          </tr>
                      </thead>
                      <tbody>
                      <% topic.objectives.each do |obj| %>
                        <% if obj.answered_by?(current_user) %>
                          <tr>
                              <td><%= link_to "#{ obj.name.truncate(50) unless obj == nil }", objective_path(obj) %>
                              </td>
                              <td>
                                  <div class="ui <%= obj.colour(current_user) unless obj == nil %> circular label"><%=  obj.progress(current_user) unless obj == nil %>
                                  </div>
                              </td>
                          </tr>
                        <% end %>
                      <% end %>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      <% end %>
    <% end %>
    
</div>