<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properities -->
  <title>Homepage - Semantic</title>
  <style type="text/css">

    .hidden.menu {
      display: none;
    }

    .masthead.segment {
      min-height: 800px;
      padding: 1em 0em;
      background-image: url(http://i.imgur.com/YCyZVES.jpg);
      background-position: center;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }


  </style>

  <script src="assets/library/jquery.min.js"></script>
  <script src="../dist/components/visibility.js"></script>
  <script src="../dist/components/sidebar.js"></script>
  <script src="../dist/components/transition.js"></script>
  <script>
  $(document)
    .ready(function() {

      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

    })
  ;
  </script>
</head>
<body>

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item">Home</a>
    <a class="item" href="#about">About</a>
    <a class="item" href="#blog">Blog</a>
    <a class="item" href="#contact">Contact</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button" href="<%= new_user_session_path %>">Log in</a>
      </div>
      <div class="item">
        <a class="ui primary button" href="<%= new_user_registration_path %>">Sign Up</a>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a>
    <a class="item" href="#about">About</a>
    <a class="item" href="#blog">Blog</a>
    <a class="item" href="#contact">Contact</a>
  <a class="item" href="<%= new_user_session_path %>">Login</a>
  <a class="item" href="<%= new_user_registration_path %>">Signup</a>
</div>


<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item">Home</a>
        <a class="item" href="#about">About</a>
        <a class="item" href="#blog">Blog</a>
        <a class="item" href="#contact">Contact</a>
        <div class="right item">
          <a class="ui inverted button" href="<%= new_user_session_path %>">Log in</a>
          <a class="ui inverted button" href="<%= new_user_registration_path %>">Sign Up</a>
        </div>
      </div>
    </div>
    
    <div class="ui text container">
      <h1 class="ui inverted header">
        SmartLearn.IO <div class="ui large label">Alpha</div>
      </h1>
      <h2 class="">
        Open source learning platform 
        <div>
          <a class="ui link label" href="http://github.com/hassanalubeidi/SmartLearn.IO">
            <i class="ui github icon"></i>Github
          </a>
        </div>
      </h2>
      <a class="ui huge primary button" href="<%= new_user_registration_path %>">Sign up now<i class="right arrow icon"></i></a>
    </div>

  </div>
  <a id="about" ></a>
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="twelve wide column">
          <h3 class="ui header">Find problems. Fix them.</h3>
          <p>The secret to the highest grades come from attention to even the smallest of details in one's learning. SmartLearn makes tracking progress and finding problems very intuiative, by using teacher made <a href="#">module packs</a> to test memory recall and subject knowledge and <a href="#">real past paper questions</a> to test the application of knowledge. </p>
        </div>
        <div class="four wide right floated column">
          <img src="http://i.imgur.com/9ZxY2Wl.png" class="ui large  image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <!-- <a class="ui huge button">Read more</a> !-->
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eleven wide column">
          <h3 class="ui header">Increase learning efficency.</h3>
          <p>SmartLearn encourages the best learning practices, by keeping a dynamic score of learning. The score is a model of your current learning, and takes into account amount of practice, the spacing</a> of practice, how long ago a topic was last attempted and more.</p>
          <p>
          SmartLearn is inspired by Psychology research into learning and forgetting, especially <a href="https://en.wikipedia.org/wiki/Spaced_learning">spaced learning</a> and <a href="https://en.wikipedia.org/wiki/Forgetting_curve">The Forgetting Curve.</a>
          </p></h3>
        </div>
        <div class="five wide right floated column">
          <img src="https://diogenesii.files.wordpress.com/2012/01/forgettingcurve21.png" class="ui large  image">
          <p style="text-align: center;" class="ui centered link" href="#">Ebinghaus's learning curve</p>
        </div>
        
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Read more</a>
        </div>
      </div>
    </div>
  </div>


  <a id="blog" ></a>
  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">SmartLearn.io reaches releases alpha</h3>
      <h2 class="ui sub header">
        2nd December 2015
      </h2>
      <p>After almost a year of design and development, SmartLearn has reached Alpha. While it is still very much in development, SmartLearn has now been classroom tested, and has proven to be a very viable asset. </p>
      <p>Further testing is needed, as well more refinement before reaching beta, hopefully in March 2016, and relase in August 2016</p>

      
      <!-- <a class="ui basic button"> Read More </a> -->
    </div>
    
  </div>

  <a id="contact" ></a>
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Contact Us</h4>
          <div class="ui inverted link list">
            <a href="emailto:hassanalubeidi1996@gmail.com" class="item">Email</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">About</h4>
          <p>SmartLearn is a web application created by Hassan Al-ubeidi.</p>
          <p>SmartLearn - Hassan Al-ubeidi 2015 ©</p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>
