


<%= form_for([@subject, @topic], :html => {:class => 'ui form'}) do |f| %>
<% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.hidden_field :subject_id, value: @subject.id %>
  </div>
  <div class=" ui segment">
  <h3 class="ui header">Objectives</h3>
  <div id="objectives">
    <%= f.fields_for :objectives, :html => {:class => 'ui segment'} do |objective| %>
      <%= render 'objective_fields', :f => objective %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add objective', f, :objectives, class: "ui button" %>
    </div>
  </div>
  </div>
  <%= f.submit  class: "ui blue button"  %>
<% end %>
