<% progress = @topic.progress(current_user) %>
<% objective_count = @topic.objectives.count %>

<div class="ui toptitle segment" style="margin-bottom:0; z-index:1">
  <div class="ui container">
    <div class="introduction">

      <h1 class="ui top header">
        <%= @topic.name %> <div class="ui blue right aligned label"><%= number_with_precision(progress, precision: 1) %>%</div>
        
        <div class="sub header">
        <%= @topic.subject.name %>
        </div>
      </h1>

      <div class="ui hidden divider"></div>

      
      

      
      
      
    </div>     
  </div>
</div>

<div class="ui container">
	<% @topic.objectives.each do |obj| %>
		<% score = obj.progress(current_user) %>
		<% unless score.nan? %>
		<div class="ui <%= colour(score) %> segment" id="obj<%= obj.id %>">
          <div class="ui top basic attached label"><span style="font-size: 1.1em"><%= obj.name %></span> <div class="ui right float circular <%= colour(score) %> label"><%= number_with_precision(score, precision: 0) %>%</div></div>
          <div class="ui accordion">
              <div class="ui accordion">
                  <%= link_to "Details", objective_path(obj), class: "ui button", style: "margin-top: 15px" %>
              </div>
          </div>
      </div>
		<% end %>
	<% end %>
</div>
