<div class="ui basic segment">
	<h2 class="ui header"><%= flashcard.text %></h2>
	<table class="ui very basic celled table">
	  <thead>
	    <tr><th class="fourteen wide">Keypoint</th>
	    <th class="two wide">Correct?</th>
	  </tr></thead>
	  <tbody>
	  <% flashcard.keypoints.each do |keypoint| %>
	    <tr>
	      <td>
	        <%= keypoint.text %>
	      </td>
	      <td>
	      <%= form_for(Attempt.new, remote: true, :format => :js) do |f| %>
	        <div class="ui very large checkbox toggle checkbox<%= flashcard.id %>" style="float: right;">
			  <%= f.check_box :correct %>
			  <%= f.hidden_field :user_id %>
			  <%= f.hidden_field :keypoint_id, :value => keypoint.id %>
			</div>
			<script>
				
				
				$("input[name='<%= dom_input_name(f, :correct) %>']").on("change", function(e) { 
					test = $(".item.active.selected").data("value");
					console.log(test)
					$("input[name='attempt[user_id]']").each(function() {
					  $( this ).val(test);
					});
					$(this.form).trigger('submit.rails');

				});
				</script>
		  <% end %>
	      </td>
	      
	    </tr>
	   <% end %>
	  </tbody>
	</table>
	<div class="ui teal fluid toggle<%= flashcard.id %> button">All correct </div>
</div>
<div class="ui divider"></div>
<script>
$('.checkbox<%= flashcard.id %> ').checkbox('attach events', '.toggle<%= flashcard.id %>.button');
</script>