<div class="ui basic segment">
	<table class="ui very basic celled table">
	  <thead>
	    <tr><th class="fourteen wide">Keypoint</th>
	    <th class="two wide">Correct?</th>
	  </tr></thead>
	  <tbody>
	  <% flashcard.keypoints.each do |keypoint| %>
	    <tr>
	      <td>
	        <%= keypoint.text %>
	      </td>
	      <td>
	      <%= form_for(Attempt.new, remote: true, :format => :js) do |f| %>
	        <div class="ui very large checkbox toggle" style="float: right;">
			  <%= f.check_box :correct %>
			  <%= f.hidden_field :user_id %>
			</div>
			<script>
				var test = $(".item.active.selected").data("value");
				
				$("input[name='<%= dom_input_name(f, :correct) %>']").on("change", function(e) { 
					$("input[name='attempt[user_id]']").val(test);
					$(this.form).trigger('submit.rails');

				});
				</script>
		  <% end %>
	      </td>
	      
	    </tr>
	   <% end %>
	  </tbody>
	</table>
	<div class="ui teal fluid button">All correct </div>
</div>
