
<div class="ui container">
  <h2 class="ui centered header">Objective edit/new </h2>
  <%= form_for(@objective, html: { :class => "ui form  " }) do |f| %>
    <div class="ui field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div id="tasks">
    <%= f.fields_for :flashcards do |flashcard| %>
      <%= render 'flashcard_fields', :f => flashcard %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Flashcard', f, :flashcards, :class => "ui button" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :class => "ui green right float button" %>
  </div>
  <% end %>
</div>
