<div class="ui text container">
	
	<div class="ui raised segments">
	  <div class="ui segment">
	  	<div class="ui basic segment">
	  	<span class="ui small breadcrumb" style="float: right; margin-top: -10px">
	      	<a href="<%= subject_path @objective.topic.subject %>" class="section"><%= @objective.topic.subject.name %></a>
			  <div class="divider"> / </div>
			  <a href="<%= topic_path @objective.topic %>"><%= @objective.topic.name %></a>
			  <div class="divider"> / </div>
			  <div class="active section">Obj</div>
	    </span>
		<h2 class="ui header" style="margin-top:5px;"><%= @objective.name %> <i class="green small checkmark icon"></i>
		</h2>
		<p class="ui sub ">OBJECTIVE.LONG - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor iaculis purus commodo facilisis. Duis varius varius velit at porttitor. Phasellus dictum ultrices quam eu lobortis. In dapibus erat eu diam vulputate, at condimentum sapien imperdiet. Vestibulum nec orci vel nunc tristique hendrerit id ac lorem.</p>
	    
	    </div>
	    <div class="ui blue ribbon label">
	        <i class="bookmark icon"></i> Resources
	     </div>
	     <div class="ui stacked segment">
	     	<ul>
	     		<li><a href="#">A relevant video</a></li>
	     		<li><a href="#">Worksheet with really hard questions</a></li>
	     		<li><a href="#">Past paper questions</a></li>
	     	</ul>
	     </div>
	     <a class="ui purple right labeled icon button question-button">
			  
			  Ask a question
			  <i class="help icon"></i>
			</a>

	  </div>
	  <div class="ui green compact segment">
	  <h3 class="ui header">Recommended question(s):</h3>
	  </div>
	  <% @objective.questions.each do |question| %>

	  <div class="ui secondary segment">
	  	<div class="ui basic segment">
		  <div class="ui items">
		    <div class="item">
			    <div class="content">
			      <a class="blue header" href="<%= question_path(question) %>"><%= question.text %></a>
			      
			      <div class="description">
			        <p></p>
			        <p></p>
			      </div>
			      <div class="extra">
			        
			        <%= question.answer(current_user).marks_integer %>/<%= question.total_marks %>
			        <i class="green check icon"></i><%= time_ago_in_words(question.answer(current_user).created_at) %> ago
			      </div>
			    </div>
			  </div>
		  </div>
		  </div>
	  </div>
	  <% end %>
	  <div class="ui tertiary bottom attached segment" style="margin-bottom:50px;">
	  <a href="#" style="text-align: center;">All questions from this objective</a>
	  </div>
	  
	</div>
</div>


<div class="ui question-input modal">
  <i class="close icon"></i>
  <div class="header">
    Ask question
    <div class="ui large image purple label" style="float:right;">
		  <%= @objective.topic.name %>
		  <div class="detail"><%= @objective.name %></div>
		</div>
  </div>
  <div class="content">
    <div class="description">

      <div class="ui form">
      <div class="field">
		    <label>Title</label>
		    <input></input>
		 </div>
		  <div class="field">
		    <label>Text</label>
		    <textarea></textarea>
		 </div>
		 
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button">
      Submit
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>