<div class="ui segments container">
	<div class="ui inverted blue segment">
		<h3><%= @objective.name %></h3>
		<%= link_to "Test this objective", test_objective_path(@objective), class: "ui inverted blue button" %>
</div>
	<h3>What's been going wrong?</h3>
	<link href="http://content.doublestruck.eu/style/ds.css" rel="stylesheet" type="text/css">
	<% @objective.questions.uniq.each do |question| %>
		<% if question.answer(current_user) != nil  %>
			<% if question.get_marks_percentage(current_user) != 1 then %>
			<div class="ui segment">
				<div class="ui accordion">
				  <div class="active title">
				    <i class="dropdown icon"></i>
				    <strong>Source: <%= question.source %></strong>
				  </div>
				  <div class="content">
				    <% question.main_question.questions.each do |q| %>
				    	<div style="<%= if q.id == question.id then 'background-color: #FFCECE' end %>">
				    	<%= q.html.gsub(/Q1\./, "").html_safe %>
				    	</div>
				    <% end %>
				  </div>
				</div>
				<div class="ui red message"><%= question.answer(current_user).text %></div>
				<strong>Associated objectives:</strong>
				<% (question.objectives.uniq).each do |objective| %>
				<span class="ui inline label"><%= objective.name %></span>

				<% end %>
			</div>
			<% end %>
		<% end %>
	<% end %>
</div>
<%= link_to "JSON of this page", current_url(:format=>:json) %>