<div class="ui container">
	
	<div class="ui raised segments">
	  <div class="ui segment">
	  	<div class="ui basic segment">
	  	<span class="ui small breadcrumb" style="float: right; margin-top: -10px">
	      	<a href="<%= subject_path @objective.topic.subject %>" class="section"><%= @objective.topic.subject.name %></a>
			  <div class="divider"> / </div>
			  <%= link_to @objective.topic.name, subject_topic_path(@objective.topic.subject, @objective.topic) %>
			  <div class="divider"> / </div>
			  <div class="active section">Obj</div>
	    </span>
		<h2 class="ui header" style="margin-top:5px;"><%= @objective.name %> <i class="green small checkmark icon"></i>
		</h2>
		<p class="ui sub ">
		<div class="ui blue secondary message">Make sure that the keypoints are fluent, don't accept anything that's not almost exactly what we're looking for!</div>
			<div class="ui top active blue attached fluid test-type button" data-tab="self" >
			  Self assess
			</div>
			<button class="ui bottom blue attached fluid test-type button" data-tab="peer">
			  Peer assess
			</button>
		</p>

			

	    
	    </div>
	    <div class="peer-assessed ui active tab" data-tab="self">
	    <%= render partial: "self_assess" %>
	    </div>
	    <!-- <%# render partial: "peer_assess" %> !-->
	    </div>

	    	<div class="ui basic segment">
	    		<h3 class="ui centered header"><%= link_to "Add flashcards", edit_objective_path(@objective) %> </h3>
	    	</div>


</div>

<script>
$('.test-type')
  .tab()
;
</script>
