<%= form_for(@improvement, :html => {:class => 'ui form'}) do |f| %>
  <% if @improvement.errors.any? %>
    <div class="ui yellow message">
      <i class="close icon"></i>
      <div class="header">
        <%= pluralize(@improvement.errors.count, "error") %> prohibited this improvement from being saved:
      </div>
      <ul class="list">
        <% @improvement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :area_to_improve %><br>
    <%= f.text_area :area_to_improve %>
  </div>
  <div class="ui search">
    <%= f.label :topic_name %>
    <div class="ui icon input">
      <%= f.text_field :topic_name, data: { autocomplete_source:  Topic.order(:name).map{|topic| {:title => topic.name} }}, class: "prompt", :autocomplete => :off %>
    </div>
    <div class="results" style="top:50px;"></div>
  </div>
  <div class="field" style="display: inline">
    <%= f.label :checked %><br>
    <span class="ui checkbox" style="display: inline-block;">
    <%= f.check_box :checked %>
    </span>
  </div>

  <div class="actions">
    <%= f.submit :class => "ui primary button" %>
    <%= link_to 'Back', improvements_path, class: "ui button" %>
  </div>
<% end %>

