

<tr>
  <td>17/09/2015</td>
  <td><%= improvement.topic.name %></td>
  <td class=""><%= improvement.area_to_improve %></td>
  <td>
    <% if improvement.reviews.count > 0 then %>
      
      <a href=" <%=  add_review_path(improvement) %> " class="">
        <i class="ui checkmark green icon"></i>
        <%= time_ago_in_words(improvement.reviews.last.created_at) %> ago
      </a>
    <% else %>
    <a href=" <%=  add_review_path(improvement) %> " class="">
      <i class="add icon"></i>
      Review this
    </a>
    <% end %>
  </td>

  <td class="negative">No</td>
  <td><%= link_to "<i class='ui red delete large icon'></i>".html_safe, improvement_path(improvement), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
  <%= link_to "<i class='ui blue pencil large icon'></i>".html_safe, edit_improvement_path(improvement) %></td>
</tr>