
<div class="fluid card">
    <div class="content">
      <i class="right floated <%= if improvement.checked == true then 'active' end %> star icon"></i>
      <div class="header"><%= improvement.topic.name %></div>
      <div class="meta">
        <%= link_to time_ago_in_words(improvement.created_at), improvement_path(improvement), class: "group" %> ago
      </div>
      <div class="description">
        <%= improvement.area_to_improve %>
      </div>
    </div>
    <% if improvement.reviews.count < 1 then %>
    <a href=" <%=  add_review_path(improvement) %> " class="ui bottom attached button review">
      <i class="add icon"></i>
      Review this
    </a>
    <% else %>
    <a href=" <%=  add_review_path(improvement) %> " class="ui green bottom attached button disabled">
      <i class="add icon"></i>
      Reviewed
    </a>
    <% end %>
  </div>
<!-- Modal -->
