

<%= link_to "new improvement", new_improvement_path, class: "ui primary button" %>
<div class="ui cards">
  <% Subject.all.each do |subject| %>
  <h2><%= subject.name %></h2>
  <div class="ui cards">
    
    <% @improvements.last(10).each do |improvement| %>
      <% if improvement.subject == subject %>
        <%= render "improvement", improvement: improvement %>
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>
<% if @improvements.count != 0 %>
  <p><%= current_user.improvements.count %> improvement<%= if @improvements.count != 1 then "s" else "" end %>, most recent being at <%= Improvement.last.created_at %>, <%= link_to "create a new one", new_improvement_path %></p>
<% else %>
  <p>You have no current improvements, perhaps you should <%= link_to "add one.", new_improvement_path %>
<% end %>


 
