<div class="ui equal width grid container floating tab segment" style="margin-top:0; z-index:0" data-tab="analysis">
    <div class="column">
        <div class="ui divided stackable four column grid">
            <div class="ui twelve wide column">
                <div class="ui basic segment">
                    <h2 class="ui header">Here's what we'd reccomend you do:</h2>
                    <div class="ui basic segment list">
                        <a class="item" href="#">
                            <i class="help icon"></i>
                            <div class="content">
                                <div class="header">F321, Jan 2012, 1) a) ii)</div>
                                <div class="description">Because you're almost there with [TOPIC.NAME]</div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="top aligned right triangle icon"></i>
                            <div class="content">
                                <div class="header">Module pack test these objectives </div>
                                <div class="description">Because there are holes in your knowledge</div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="top aligned right triangle icon"></i>
                            <div class="content">
                                <div class="header">Module pack test these objectives </div>
                                <div class="description">Because there are holes in your knowledge</div>
                            </div>
                        </a>
                        <a class="item" href="#">
                            <i class="help icon"></i>
                            <div class="content">
                                <div class="header">F321, Jan 2012, 1) a) ii)</div>
                                <div class="description">Because you're almost there with [TOPIC.NAME]</div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="top aligned right triangle icon"></i>
                            <div class="content">
                                <div class="header">Module pack test these objectives </div>
                                <div class="description">Because there are holes in your knowledge</div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="top aligned right triangle icon"></i>
                            <div class="content">
                                <div class="header">Module pack test these objectives </div>
                                <div class="description">Because there are holes in your knowledge</div>
                            </div>
                        </a>
                    </div>
                    <div class="ui divider"></div>
                    <h2 class="ui header">A breakdown of your learning so far</h2>
                    <div class="ui basic segment">
                        <div class="ui bottom attached segment">
                            <div class="ui top attached label">F321: Atoms, bonds and groups</div><% @subject.topics.each do |topic| %>
                            <h3><%= topic.name %>
                            </h3>
                            <div class="ui accordion">
                                <div class="active title">
                                    <i class="dropdown icon"></i>
                                  Objectives
                
                                </div>
                                <div class="content">
                                    <table class="ui very basic table" style="padding-left:30px">
                                        <thead>
                                            <tr>
                                                <th>Short</th>
                                                <th>Long</th>
                                                <th>Score</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% topic.objectives.each do |obj| %>
                                            <tr>
                                                <td><%= link_to "test", objective_path(obj) %> </td>
                                                <td><%= obj.name.truncate(50) %>
                                                </td>
                                                <td>
                                                    <div class="ui <%= obj.colour(current_user) %> circular label"><%=  obj.progress(current_user).to_f.round %>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div><% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column ui horizontal segment overlay">
                <h3 class="ui  dividing header">Navigating</h3>
                <div class="ui fluid secondary pointing vertical menu">
                    <a class="item">
            Recomended 
                        <span class="ui label">2</span>
                    </a>
                    <a class="item">
            F321 
                        <span class="ui label">2</span>
                    </a>
                    <a class="item">
            F322 
                        <span class="ui label">2</span>
                    </a>
                </div>
            </div>
          </div>
        </div>
      </div>
