<style>.hidden { display:none;} </style>
<div class="ui flashcard segments " id="flashcard-<%= flashcard.id %>">
	
	<%= render partial: "shared/flashcard/finish_menu" %>
	<div class="ui padded segment">
		
		<div class="ui divided stackable grid">
			<%= render partial: "shared/flashcard/question", :locals => {:flashcard => flashcard} %>
			<div class="ui six wide column">
				<%= render partial: "shared/flashcard/hint", :locals => {:flashcard => flashcard} %>
				
				
				
				
			</div>
		</div>
	</div>
	<div class="ui secondary segment">
		<p>Last attempted <%= unless flashcard.last_attempted(current_user) == nil then time_ago_in_words flashcard.last_attempted(current_user) end %> ago</p>
	</div>
</div>
<%= render partial: "shared/flashcard/js", :locals => {:flashcard => flashcard} %>