<%= form_for [@question, @answer], :html => {:class => 'ui form'} do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="ui segment">
  <h3 class="">Mark Scheme</h3>
  <div style="width: 705px; margin: auto;">
  <%= @question.mark_scheme_html.html_safe rescue nil %>
  </div>
  </div>
  <div class="field">
    <%= f.label "What went wrong?" %><br>
    <%= f.text_area :text %>
  </div>
  <div class="inline field">
    <%= f.label :marks %><br>
    <%= f.number_field :marks_integer %> / <%= @question.total_marks %>
  </div>
  <%= f.hidden_field :prev_url, :value => @prev_url %>
  <div class="actions">
    <%= f.submit class: "ui red button" %>
  </div>
<% end %>
