<%= form_for [@question, @answer], :html => {:class => 'ui form'} do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :marks_integer %><br>
    <%= f.text_field :marks_integer %>
  </div>
  <%= f.hidden_field :prev_url, :value => @prev_url %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
