<div class="ui tab answer-tab basic segment" style="margin-top: -5px" data-tab="2">
	<div class="ui inverted dimmer">
	    <div class="ui text loader">Loading</div>
	  </div>
	<h2 class="ui header">How did you do?</h2>
	<div class="ui divider"></div>
	<h3 class="ui header">I made sure to mention: </h3>
	<% flashcard.keypoints.each do |keypoint| %>
	
		<label><%= keypoint.text %></label>
		<%= form_for(Attempt.new,
					 remote: true,
				     :html => {:class => "keypoint_form#{flashcard.id}"}) do |f| %>
			<div class="ui toggle checkbox">
				<%= f.hidden_field(:keypoint_id, value: keypoint.id) %>
				<%= f.hidden_field(:user_id, value: current_user.id) %>
		    	<%= f.check_box(:correct,  :class => "ui toggle checkbox")  %>
		    </div>
		<% end %>
	
	<% end %>
	<div class="ui divider"></div>
	
</div>
<div class="ui hidden right floated red submit-button<%= flashcard.id %> submit button" style="display:none">Submit</div>
<script>
$(".submit-button<%= flashcard.id %>").on('click', function() {
	var arr = $(".keypoint_form<%= flashcard.id %>");
	$.each(arr, function() {
		arr.trigger('submit.rails');
	});
});
</script>