<div class="ui modal objective-modal<%= objective.id %>">
  <i class="close icon"></i>
  <div class="header">
    Select a state for this objective
  </div>
  
  <div class="content">
    <%= form_for [objective , ObjectiveState.new], :html => {:class => 'ui form'} do |f| %>
    <div class="grouped fields">
      <div class="field">
        <div class="ui radio checkbox">
          <%= f.radio_button :status, "full" , :checked => "" %>
          <label><i class="ui green checkmark icon"></i> Full</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <%= f.radio_button :status, "not fluent" , :checked => "" %>
          <label><strong class="letter icon">F</strong>Not fluent</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <%= f.radio_button :status, "partial" , :checked => "" %>
          <label><strong class="letter icon">P</strong>Partial</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <%= f.radio_button :status, "none" , :checked => "" %>
          <label><i class="ui red remove icon"></i> None</label>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black button">
      Cancel
    </div>
    <%= f.submit class: "ui positive button" %>
  </div>
  <% end %>
</div>