
<div class="ui selection list">
  <% @subjects.each do |subject| %>
  <div class="item" onclick="location.href='<%=  subject_path(subject) %>';" style="cursor: pointer;" >
      <%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' }, class: "right floated compact ui button" %>
      <%= link_to 'Edit', edit_subject_path(subject), class: "ui right floated compact ui button" %>
    <div class="content">
      <h2 class="header"><%= subject.name %>
      </h2>
      
    </div>
  </div>
  <% end %>
</div>

<%= link_to 'New Subject', new_subject_path %>

<div class="ui blue message">
<h2 class="ui header">Upon visiting:</h1>
<ul>
  <li>
  Create subjects
  </li>
  <li>
  Create topics
  </li>
  <li>
  Create objectives
  </li>

  <li>
  Then you can input questions!
  </li>
</ul>
</div>