<div class="ui blue message">
  <div class="header">
    How scoring works
  </div>
  <p>The amount of marks per topic is added together, then multiplied multiplied by the time degredation function</p>
  <p>This takes into account how long ago the question was done, and the time of year it was done it (revision or new content?)
  (Remove this on release)
</div>
<div class="ui yellow message">
  <div class="header">
    No topics!
  </div>
  <p>It looks like you don't have any topics for this subject. Create some?</p>
</div>
<% @subject.topics.each do |topic| %>
<div>
	<h3><%= topic.name %></h3>
	<strong>Score: </strong><%= '%.2f' % progress_in_topic(topic) %>
	<div class="ui cards">
	<% topic.questions.each do |question| %>
		<%= render "card", question: question %>
	<% end %>
	</div>
</div>

<% end %>
<%= link_to 'Edit', edit_subject_path(@subject) %> |
<strong><%= @subject.user.username %></strong>