<h1 >
<%= @subject.name %>
</h1>
<div class="ui blue message">
  <div class="header">
    How scoring works
  </div>
  <p>The amount of marks per topic is added together, then multiplied multiplied by the time degredation function</p>
  <p>This takes into account how long ago the question was done, and the time of year it was done it (revision or new content?)
  (Remove this on release)
</div>
<div class="ui piled segment">
	
	<ul>
		<div class="ui selection list">
		<% @subject.test_papers.each do |test_paper| %>
		  <div class="item">
		    <%= link_to "<i class='remove icon'></i>".html_safe, test_paper_path(test_paper), method: :delete, data: {confirm: "are you sure???"}, class: "right floated compact ui button" %>
		    <div class="content">
		      <div class="header"><%= link_to "#{test_paper.name}, #{test_paper.date}", test_paper_path(test_paper), class: "item" %></div>
		    </div>
		  </div>
		<% end %>
		<%= link_to "Add testpaper", new_test_paper_path, class: "ui fluid positive button" %>
		</div>
	</ul>
</div>
<% if Topic.count == 0 then %>
	<div class="ui message">
	  <div class="header">
	    No topics!
	  </div>
	  <p>It looks like you don't have any topics for this subject. <%= link_to "Create some?", new_topic_path %></p>
	</div>

	<% end %>
	<%= link_to "Add a question?", new_question_path, class: "ui fluid top attached button" %>
	<%= link_to "Hell, maybe you want to add an improvement..", new_improvement_path, class: "ui fluid bottom attached button" %>
	<% @subject.topics.each do |topic| %>
	<div>
		<h3><%= link_to topic.name, topic_path(topic) %></h3>
		<strong>Score: </strong><%= '%.2f' % progress_in_topic(topic) %>
		<div class="ui cards">
		<% get_questions_of_topic(topic).each do |question| %>
			<%= render "card", question: question %>
		<% end %>
		</div>

		<div class="ui accordion">
			
		    <div class="title">
		      <i class="dropdown icon"></i>
		      Topic report
		    </div>
		    <div class="content">
		    	<div class="ui segment"><ul>
		    	<h3>The good</h3>
		    	<ul>
		    		
		    	<% get_good_objectives(topic).each do |objective| %>
		    		<li>
		    			<%= objective.name %><div class="ui circular <%= objective_traffic_light(objective) %> label"><%= '%.0f' % progress_in_objective(objective)  %> </div>  <%= get_objective_state(objective) %>
		    			<%= link_to "update status", new_objective_objective_state_path(objective) %>
		    			
		    		</li>
		    	<% end %>
		    	</ul>
		    	<div class="ui divider"></div>
		    	<h3>The bad</h3>
		    	<ul>
		    	<% get_ok_objectives(topic).each do |objective| %>
		    		<li>
		    			<%= objective.name %><div class="ui <%= objective_traffic_light(objective) %> circular label"><%= '%.0f' % progress_in_objective(objective)  %></div><%= get_objective_state(objective) %>
		    			<%= link_to "update status", new_objective_objective_state_path(objective), class: "float right" %>

		    		</li>
		    	<% end %>
		    	</ul>
		    	<div class="ui divider"></div>
		    	<h3>The ugly</h3>
		    	<ul>
		    	<% get_bad_objectives(topic).each do |objective| %>
		    		<li>
		    			<%= objective.name %><div class="ui <%= objective_traffic_light(objective) %> circular label"><%= '%.0f' % progress_in_objective(objective)  %></div>
		    		</li>
		    	<% end %>
		    	</ul>
		    	<div class="ui divider"></div>
		    	<h3>Unassigned</h3>
		    	<ul>
			    <% get_NaN_objectives(topic).each do |objective| %>
		    		<li>
		    			<%= objective.name %><div class="ui <%= objective_traffic_light(objective) %> circular label"><%= '%.0f' % progress_in_objective(objective)  %></div>
		    		</li>
		    	<% end %>
		    	</ul>

			    
		    	</ul></div>
		    </div>
		   
		  </div>
	</div>
<% end %>