<div class="ui header">
  <h1>Sign in</h1>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'ui form'}) do |f| %>
<div class="ui fluid form segment">
  <div class="two fields">
    <div class="field">
      <label>Username</label>
      <%= f.text_field :login, class: "form-control", id: "username", placeholder: "Username" %>
    </div>
    <div class="field">
      <label>Password</label>
      <%= f.password_field :password, class: "form-control", id: "password", placeholder: "Password" %>
    </div>
  </div>
  <div class="inline field">
      <div class="ui checkbox">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    </div>
  <%= f.submit "Log me in", class: "btn btn-primary", class: "ui blue button" %>
  <%= link_to "Register", new_user_registration_path, class: "ui button" %>
            
</div>
<% end %>