<div class="ui container">
<%= form_for(@test_paper, html: {:class => "ui segment form"}) do |f| %>
<% if @test_paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_paper.errors.count, "error") %> prohibited this test_paper from being saved:</h2>

      <ul>
      <% @test_paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if params[:subject].blank? %>
  <div class="field">
    <%= f.label :subject_id %><br>
    <%= f.select(:subject_id, Subject.all.collect {|p| [ p.name, p.id ] }, { include_blank: false }, { :class => 'ui dropdown' }) %>
  </div>
  <% else %>
    <%= f.hidden_field :subject_id, value: params[:subject] %>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <%= f.hidden_field :date, value: Date.new(1900, 1, 1) %>

  <div class="field">
    <%= f.label :calc_allowed %><br>
    <%= f.check_box :calc_allowed, class: "ui checkbox" %>
  </div>

  

  <%= f.submit class: "ui blue button" %>
<% end %>
</div>