<h1>Listing test_papers</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Questions</th>
      <th>Date</th>
      <th>Calc allowed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_papers.each do |test_paper| %>
      <tr>
        <td><%= test_paper.subject %></td>
        <td><%= test_paper.questions %></td>
        <td><%= test_paper.date %></td>
        <td><%= test_paper.calc_allowed %></td>
        <td><%= link_to 'Show', test_paper %></td>
        <td><%= link_to 'Edit', edit_test_paper_path(test_paper) %></td>
        <td><%= link_to 'Destroy', test_paper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test paper', new_test_paper_path %>
