<div class="ui container">
<h1 class="ui inverted red header"><%= @test_paper.date_name rescue nil %> </h1>
<% @test_paper.questions.each do |question| %>

<% end %>
<% @test_paper.main_questions.each do |mq| %>
<div class="ui segment">
  <% mq.questions.each do |question| %>

	<div style="width:705px; margin: auto; page-break-inside: avoid; align: center"><%= question.html.html_safe %></div>
	<div class="labels">
	<% if question.answers.where(question: question, user: current_user).count != 0 %>
       <%= link_to marks(question), new_question_answer_path(question) %>
       <% else %>
       <%= link_to "answer", new_question_answer_path(question), class: "ui red right tiny floated button" unless question.answers.count > 0 %>
       <% end %>
	</div>

  <% end %>
  <div class="ui secondary segment">
  <% mq.objectives.each do |obj|  %>
    <div class="ui blue label"><%= obj.name rescue nil %></div>
  <% end %>
  </div>
</div>
<% end %>
<% if @test_paper.questions.count == 0 then %>
	<div class="ui basic segment">
		<h2 class="ui centered header">This paper has no questions.</h2>
		<h3 class="ui centered header"><%= link_to "Manually add some", edit_test_paper_path(@test_paper) %></h3>
		<div class="ui  horizontal divider">
	   		Or
	  	</div>
		<h3 class="ui centered header"><%= link_to "Add through Exampro", "#{test_papers_upload_path}" %></h3>
	</div>
<% end %>
</div>