<h1 class="ui inverted red header"><%= @test_paper.date %> <%= link_to "Edit", edit_test_paper_path(@test_paper), class: "ui basic button float right" %></h1>
<%= total_marks(@test_paper) %>
<% @test_paper.questions.each do |question| %>
<div class="ui segment"><%= question.text %>
	<div class="labels">
	<% question.objectives.each do |objective| %>
		<div class="ui label"><strong><%= objective.name %></strong></div>
	<% end %>
	<% if question.answers.where(question: question, user: current_user).count != 0 %>
       <%= marks(question) %>
       <% else %>
       <%= link_to "answer", new_question_answer_path(question), class: "ui green basic fluid button" unless question.answers.count > 0 %>
       <% end %>
	</div>
</div>
<% end %>