<div class="ui container">
<h1 class="ui inverted red header"><%= @test_paper.date.strftime('%b %Y') %> </h1>
<% @test_paper.questions.each do |question| %>
<div class="ui segment">
	<div class="ui segment"><div style="width:705px; margin: auto;"><%= question.html.html_safe %></div></div>
	<div class="labels">
	<% question.objectives.uniq.each do |objective| %>
		<div class="ui label"><strong><%= objective.name %></strong></div>
	<% end %>
	<% if question.answers.where(question: question, user: current_user).count != 0 %>
       <%= link_to marks(question), new_question_answer_path(question) %>
       <% else %>
       <%= link_to "answer", new_question_answer_path(question), class: "ui green basic fluid button" unless question.answers.count > 0 %>
       <% end %>
	</div>
</div>
<% end %>
<% if @test_paper.questions.count == 0 then %>
	<div class="ui basic segment">
		<h2 class="ui centered header">This paper has no questions.</h2>
		<h3 class="ui centered header"><%= link_to "Manually add some", edit_test_paper_path(@test_paper) %></h3>
		<div class="ui  horizontal divider">
	   		Or
	  	</div>
		<h3 class="ui centered header"><%= link_to "Add through Exampro", test_papers_upload_path %></h3>
	</div>
<% end %>
</div>