
<div class="ui container">
<div class="ui warning message">Your questions don't belong to any topics or objectives. Input them here </div>
<% @questions.each do |q| %>
<div class="ui segment">
<div class="ui accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    Question
  </div>
  <div class="content">
    <%= q.html.html_safe %>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Mark Scheme
  </div>
  <div class="content">
    <%= q.mark_scheme_html.html_safe unless q.mark_scheme_html == nil %>
  </div>

</div>

<strong>Question total marks: </strong>
<%= form_for(q, remote: true, :html => {:class => "ui form"}) do |f| %>
  <div class="inline field">
  <%= f.number_field :total_marks %>
  </div>
  <strong>Add objectives to this question:</strong>
  <div id='tasks' class="ui raised segment">

    <% Line.where(question: q).uniq.each.with_index do |line,ab| %>

      <%= f.simple_fields_for :lines do |line| %>
      
        <%= render 'line_fields', :f => line %>
      <% end %>
    <% end %>

      <div class='links'>
        <%= link_to_add_association 'add objective', f, :lines, class: "ui button" %>
      </div>
    </div>
    <div class="field">
    <strong>Add an intervention if this question is answered poorly</strong>
    <%= f.text_area :intervention %>
    </div>
     <%= f.submit class: "ui blue button" %>
    </div>

<% end %>



<div class="ui divider"></div>
<% end %>
<%= link_to "Return to #{@questions.last.test_paper.subject.name}", subject_path(@questions.last.test_paper.subject) %>
</div>
