<div class="ui form container">
	<h1>Automatically input testpaper from Exampro</h1>
	<div class="ui segment">
	<%= form_tag do %>
			<label>Paper: <%= @test_paper.date_name %></label>
			<label>Exampro URL:</label>
			<%= hidden_field nil, :testpaper_id, :value => @test_paper.id %>
	        <%= text_field_tag :test_paper_url, params[:url] %>
	        <%= submit_tag "Upload", class: "ui button" %>
	<% end %>
	</div>
	<%= link_to "Back", test_paper_path(@test_paper) %>
</div>