<%= form_for(@intervention) do |f| %>
  <% if @intervention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intervention.errors.count, "error") %> prohibited this intervention from being saved:</h2>

      <ul>
      <% @intervention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :problem %><br>
    <%= f.text_area :problem %>
  </div>
  <div class="field">
    <%= f.label :fix %><br>
    <%= f.text_area :fix %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
