<p id="notice"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= @intervention.problem %>
</p>

<p>
  <strong>Fix:</strong>
  <%= @intervention.fix %>
</p>

<%= link_to 'Edit', edit_intervention_path(@intervention) %> |
<%= link_to 'Back', interventions_path %>
