<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Experiment</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user != nil %>
<%= render 'layouts/menubar' %>
<% end %>
<div class="ui page grid" style="margin-top:0">
  
  <div class="sixteen wide column">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
</div>
</body>
<% if current_user != nil %>
  <%= render 'layouts/sidebar' %>
<% end %>
</html>
