<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Experiment</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% if user_signed_in? %>
<body>
<div id="cl-wrapper">
  <div class="container-fluid" id="pcont">
   <!-- TOP NAVBAR -->
  <div id="head-nav" class="topbar navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="fa fa-bars"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <div class="sidebar-logo">
          <div class="logo">
              <a href="index2.html"></a>
          </div>
        </div>
        <ul class="nav navbar-nav horizontal">
            <li class="active"><a href="#">Dashboard</a></li>
            <li><a href="#about">Charts</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right user-nav">
          <li class="dropdown profile_menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img alt="Avatar" src="images/avatar6-2.jpg" /><span><%= current_user.username %></span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
            </ul>
          </li>
        </ul>			
        <ul class="nav navbar-nav not-nav">
          				
        </ul>

      </div><!--/.nav-collapse animate-collapse -->
    </div>
  </div>
  
    
	<div class="cl-mcont container">
		<%= yield %>
	</div>

</div> 
<% else %>
<body>
	<%= yield %>



<% end %>
</body>
</html>
